@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-amber: #d97706;
  --color-cream: #fdfbf7;
  --color-darkgray: #1f2937;
  --color-mediumgray: #6b7280;
}

@layer base {
  body {
    @apply bg-cream text-mediumgray;
  }
}

@layer components {
  h1,
  h2,
  h3 {
    @apply text-darkgray font-display font-bold;
  }
}
